<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Text Files</title>
</head>
<body>
    <h1>List of all text files</h1>
    <ul>
        {% for file in files %}
            <li>
                {{ file }}
                <a href="{{ url_for('download_file', filename=file) }}">Download</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Upload another file</a>
</body>
</html>