<!-- templates/upload.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a text file</title>
</head>
<body>
    <h1>Upload a text file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".txt">
      <input type="submit" value="Upload">
    </form>
    <br>
    <a href="/list">List all files</a>
</body>
</html>